{% extends "base/base.html" %} {% block content %}
<div class="centerstage">
    {% if object_list %}
    <table class="table table-striped">
        <thead class="text-center">
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Nombres</th>
            <th scope="col">Tipo de Identificacion</th>
            <th scope="col">Número de Identificación</th>
            <th scope="col">Correo Electrónico</th>
            <th scope="col">Teléfono</th>
        </thead>
        <tbody class="text-center">
            {% for persona in personas %}
            <tr>
                <td>{{ persona.primer_apellido }}</td>
                <td>{{ persona.segundo_apellido }}</td>
                <td>{{ persona.nombres }}</td>
                <td>{{ persona.tipo_identificacion }}</td>
                <td class="text-right">{{ persona.identificacion }}</td>
                <td>{{ persona.email }}</td>
                <td class="text-right">{{ persona.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h1>No hay lista</h1>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'personas-create' %}">Nuevo</a>
</div>
{% endblock content %}