{% extends "base/base.html" %} {% block content %}
<div class="centerstage">
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio de Venta</th>
            <th scope="col">Cantidad</th>
        </thead>
        <tbody>
            {% for producto in object_list %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio_venta }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>
                    <a href="{% url 'producto-editar' producto.pk %}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h1>No hay lista</h1>
    {% endif %}
    <a class="btn btn-success" href="{% url 'producto-crear' %}">Nuevo</a>

</div>
{% endblock content %}