{% extends "base/base.html" %} {% block content %}
<div class="centerstage">
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Descripción</th>
            <th class="text-center" scope="col">Precio de Venta</th>
        </thead>
        <tbody>
            {% for servicio in object_list %}
            <tr>
                <td class="">{{ servicio.nombre }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>{{ servicio.precio_venta }}</td>
                <td>
                    <a href="{% url 'servicio-editar' servicio.pk %}" class="btn btn-primary">Editar</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h1>No hay lista</h1>
    {% endif %}
    <a href="{% url 'servicio-crear' %}" class="btn btn-success">Nuevo</a>
</div>
{% endblock content %}